*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  background: #22252e; }

.server {
  display: inline-flex;
  min-width: 600px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 10pt;
  font-family: Segoe UI, sans-serif;
  color: #b1d6ff;
  position: relative; }
  .server .column {
    display: flex;
    flex-direction: column; }
    .server .column.column--auto {
      flex: 1; }
  .server header {
    color: #65aeff;
    background: rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between; }
  .server .server__title {
    margin-right: 10px; }
  .server .server__players td {
    padding: 3px 8px; }
  .server .server__killfeed {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    right: 10px;
    width: 200px; }
  .server .server__chat {
    list-style: none;
    padding: 3px 10px;
    margin: 0;
    max-height: 300px;
    overflow-y: scroll; }
  .server .server__empty {
    padding: 15px 0;
    opacity: 0.5;
    text-align: center; }

.indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px #fff;
  transform: translateY(50%); }
  .indicator.indicator--green {
    background: #4cf08a;
    box-shadow: 0 0 5px #4cf08a; }

.player .player__score,
.player .player__time {
  opacity: 0.75; }

.player .player__time {
  text-align: right; }

.kill {
  transition: all 250ms;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 5px; }

.chat {
  transition: all 250ms;
  margin-bottom: 10px; }
  .chat.chat--highlighted .chat__message {
    background: #b1d6ff;
    color: #22252e;
    box-shadow: 0 0 5px #b1d6ff;
    border-radius: 0 15px 15px 0; }
  .chat.chat--special .chat__message {
    background: red;
    color: #22252e;
    box-shadow: 0 0 5px red; }
  .chat .chat__author {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em; }
  .chat .chat__message {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    max-width: 200px; }

.chat-show-enter, .chat-show-leave-active {
  transform: rotateX(-45deg) translateY(-20px);
  opacity: 0; }

.ki {
  background-image: url(/img/killicons.png);
  background-repeat: no-repeat;
  display: inline-block;
  position: relative; }

.ki-crit::before, .ki-australium::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url(/img/killicons.png);
  mix-blend-mode: darken;
  animation: ki-pulse 1s ease infinite alternate; }

.ki.white {
  background-image: url(/img/killicons-white.png); }

.ki.white.ki-crit::before, .ki.white.ki-australium::before {
  mix-blend-mode: lighten; }

@keyframes ki-pulse {
  0% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

.ki-crit::before {
  background-position: -363px -665px;
  width: 63px;
  height: 32px; }

.ki-australium::before {
  background-position: -221px -729px;
  width: 64px;
  height: 32px; }

.ki-airstrike {
  background-position: 0 -302px;
  width: 104px;
  height: 32px; }

.ki-ambassador {
  background-position: -209px -290px;
  width: 95px;
  height: 30px; }

.ki-ambassadorhsunused {
  background-position: -222px -696px;
  width: 65px;
  height: 32px; }

.ki-ambassadorhsunused2 {
  background-position: -448px -529px;
  width: 64px;
  height: 31px; }

.ki-amputator {
  background-position: -77px -722px;
  width: 72px;
  height: 32px; }

.ki-apocofists {
  background-position: -492px -297px;
  width: 84px;
  height: 32px; }

.ki-apsap {
  background-position: -552px -442px;
  width: 79px;
  height: 30px; }

.ki-armageddon {
  background-position: -492px -246px;
  width: 85px;
  height: 32px; }

.ki-atomizer {
  background-position: -586px -61px;
  width: 88px;
  height: 15px; }

.ki-axtinguisher {
  background-position: -711px -452px;
  width: 77px;
  height: 33px; }

.ki-babyfacesblaster {
  background-position: -370px -179px;
  width: 109px;
  height: 28px; }

.ki-backburner {
  background-position: -492px -132px;
  width: 88px;
  height: 28px; }

.ki-backscatter {
  background-position: -249px -198px;
  width: 113px;
  height: 32px; }

.ki-backscratcher {
  background-position: -664px -230px;
  width: 81px;
  height: 30px; }

.ki-backstab {
  background-position: -708px -729px;
  width: 43px;
  height: 32px; }

.ki-balefulbeacon {
  background-position: -685px 0;
  width: 86px;
  height: 34px; }

.ki-balloon1unused {
  background-position: -640px -535px;
  width: 60px;
  height: 33px; }

.ki-balloon2unused {
  background-position: -570px -599px;
  width: 60px;
  height: 33px; }

.ki-bat {
  background-position: -497px -34px;
  width: 88px;
  height: 34px; }

.ki-batball {
  background-position: -639px -569px;
  width: 60px;
  height: 29px; }

.ki-batsaber {
  background-position: 0 -137px;
  width: 126px;
  height: 32px; }

.ki-bazaarbargain {
  background-position: -492px -224px;
  width: 86px;
  height: 21px; }

.ki-beggarsbazooka {
  background-position: -256px -99px;
  width: 121px;
  height: 31px; }

.ki-bigearner {
  background-position: -486px -360px;
  width: 84px;
  height: 16px; }

.ki-bigkill {
  background-position: 0 -546px;
  width: 77px;
  height: 32px; }

.ki-blackbox {
  background-position: 0 -398px;
  width: 99px;
  height: 31px; }

.ki-blackrose {
  background-position: -568px -195px;
  width: 85px;
  height: 17px; }

.ki-bleed {
  background-position: -757px -126px;
  width: 24px;
  height: 33px; }

.ki-blutsauger {
  background-position: -297px -355px;
  width: 91px;
  height: 32px; }

.ki-bonesaw {
  background-position: -231px -603px;
  width: 71px;
  height: 25px; }

.ki-bostonbasher {
  background-position: -380px -436px;
  width: 89px;
  height: 31px; }

.ki-bottle {
  background-position: -722px -422px;
  width: 61px;
  height: 28px; }

.ki-brassbeast {
  background-position: -155px -576px;
  width: 75px;
  height: 31px; }

.ki-breadbite {
  background-position: -218px -762px;
  width: 64px;
  height: 31px; }

.ki-bumpercar {
  background-position: -692px -608px;
  width: 55px;
  height: 25px; }

.ki-bushwacka {
  background-position: -579px -245px;
  width: 84px;
  height: 27px; }

.ki-candycane {
  background-position: -478px -410px;
  width: 81px;
  height: 31px; }

.ki-capper {
  background-position: 0 -335px;
  width: 104px;
  height: 30px; }

.ki-chargintarge {
  background-position: -370px -629px;
  width: 63px;
  height: 34px; }

.ki-claidheamhmr {
  background-position: -507px -576px;
  width: 62px;
  height: 31px; }

.ki-classic {
  background-position: -378px -87px;
  width: 113px;
  height: 29px; }

.ki-cleanerscarbine {
  background-position: -381px -529px;
  width: 66px;
  height: 32px; }

.ki-conniverskunai {
  background-position: 0 -765px;
  width: 74px;
  height: 13px; }

.ki-conscientiousobjector {
  background-position: -353px -698px;
  width: 63px;
  height: 30px; }

.ki-cowmangler5000 {
  background-position: -128px -72px;
  width: 127px;
  height: 32px; }

.ki-crossingguard {
  background-position: -659px -326px;
  width: 79px;
  height: 31px; }

.ki-crusaderscrossbow {
  background-position: -100px -416px;
  width: 95px;
  height: 29px; }

.ki-decapitation {
  background-position: -732px -358px;
  width: 62px;
  height: 30px; }

.ki-deflectarrow {
  background-position: -506px -608px;
  width: 62px;
  height: 28px; }

.ki-deflectarrowhsunused {
  background-position: -307px -542px;
  width: 69px;
  height: 32px; }

.ki-deflectball {
  background-position: -700px -578px;
  width: 58px;
  height: 29px; }

.ki-deflectcannonballs {
  background-position: -229px -661px;
  width: 68px;
  height: 29px; }

.ki-deflectflamingarrow {
  background-position: -513px -545px;
  width: 63px;
  height: 30px; }

.ki-deflectflamingarrowhs {
  background-position: -377px -562px;
  width: 64px;
  height: 33px; }

.ki-deflectflare {
  background-position: -410px -763px;
  width: 61px;
  height: 27px; }

.ki-deflectgrenade {
  background-position: -479px -732px;
  width: 60px;
  height: 28px; }

.ki-deflectrepairclaws {
  background-position: -230px -629px;
  width: 69px;
  height: 31px; }

.ki-deflectrocket {
  background-position: -640px -506px;
  width: 61px;
  height: 28px; }

.ki-deflectsticky {
  background-position: -490px -669px;
  width: 61px;
  height: 28px; }

.ki-degreaser {
  background-position: -209px -256px;
  width: 95px;
  height: 33px; }

.ki-detonator {
  background-position: -106px -300px;
  width: 99px;
  height: 29px; }

.ki-diamondback {
  background-position: -541px -699px;
  width: 59px;
  height: 28px; }

.ki-directhit {
  background-position: -596px 0;
  width: 88px;
  height: 30px; }

.ki-dischord {
  background-position: -485px -161px;
  width: 87px;
  height: 32px; }

.ki-disciplinaryaction {
  background-position: -302px -331px;
  width: 92px;
  height: 23px; }

.ki-electrosapper {
  background-position: 0 -612px;
  width: 77px;
  height: 27px; }

.ki-enforcer {
  background-position: -578px -273px;
  width: 83px;
  height: 30px; }

.ki-equalizer {
  background-position: -442px -593px;
  width: 63px;
  height: 32px; }

.ki-escapeplan {
  background-position: -513px -512px;
  width: 63px;
  height: 32px; }

.ki-eurekaeffect {
  background-position: -156px -511px;
  width: 76px;
  height: 32px; }

.ki-evictionnotice {
  background-position: -590px -759px;
  width: 51px;
  height: 30px; }

.ki-execution {
  background-position: -285px -483px;
  width: 89px;
  height: 25px; }

.ki-explosion {
  background-position: -657px -701px;
  width: 50px;
  height: 32px; }

.ki-eyelander {
  background-position: -298px -665px;
  width: 64px;
  height: 32px; }

.ki-familybusiness {
  background-position: -470px -442px;
  width: 81px;
  height: 18px; }

.ki-fanowar {
  background-position: -600px -732px;
  width: 54px;
  height: 26px; }

.ki-fencing {
  background-position: -400px -276px;
  width: 91px;
  height: 30px; }

.ki-fire {
  background-position: -745px -261px;
  width: 50px;
  height: 30px; }

.ki-fireaxe {
  background-position: -78px -570px;
  width: 76px;
  height: 33px; }

.ki-fireball {
  background-position: -631px -599px;
  width: 60px;
  height: 27px; }

.ki-fists {
  background-position: -577px -506px;
  width: 62px;
  height: 31px; }

.ki-fistsofsteel {
  background-position: -472px -761px;
  width: 59px;
  height: 31px; }

.ki-flamethrower {
  background-position: -492px -102px;
  width: 88px;
  height: 29px; }

.ki-flaminghuntsman {
  background-position: -105px -330px;
  width: 97px;
  height: 20px; }

.ki-flaminghuntsmanafterburn {
  background-position: -691px -634px;
  width: 54px;
  height: 31px; }

.ki-flaminghuntsmanhs {
  background-position: -672px -666px;
  width: 52px;
  height: 34px; }

.ki-flaregun {
  background-position: -586px -31px;
  width: 88px;
  height: 29px; }

.ki-flyingguillotine {
  background-position: 0 -700px;
  width: 76px;
  height: 31px; }

.ki-flyswatter {
  background-position: -233px -509px;
  width: 75px;
  height: 28px; }

.ki-forceanature {
  background-position: -106px -269px;
  width: 102px;
  height: 30px; }

.ki-freedomstaff {
  background-position: -659px -171px;
  width: 84px;
  height: 26px; }

.ki-frontierjustice {
  background-position: -253px -131px;
  width: 118px;
  height: 34px; }

.ki-fryingpan {
  background-position: -306px -575px;
  width: 69px;
  height: 25px; }

.ki-gigercounter {
  background-position: -686px -767px;
  width: 43px;
  height: 32px; }

.ki-glovesofrunningurgently {
  background-position: -78px -544px;
  width: 77px;
  height: 25px; }

.ki-goldenfryingpan {
  background-position: -151px -696px;
  width: 70px;
  height: 24px; }

.ki-goldenwrench {
  background-position: -662px -293px;
  width: 79px;
  height: 32px; }

.ki-tf_projectile_pipe {
  background-position: -105px -351px;
  width: 96px;
  height: 32px; }

.ki-gunslinger {
  background-position: -584px -77px;
  width: 87px;
  height: 30px; }

.ki-gunslingertriplepunch {
  background-position: -104px -384px;
  width: 95px;
  height: 31px; }

.ki-hadouken {
  background-position: -78px -658px;
  width: 75px;
  height: 30px; }

.ki-halfzatoichi {
  background-position: -305px -279px;
  width: 93px;
  height: 25px; }

.ki-halfzatoichiduel {
  background-position: -305px -305px;
  width: 93px;
  height: 25px; }

.ki-ham_shank {
  background-position: -498px -637px;
  width: 61px;
  height: 31px; }

.ki-hhg {
  background-position: -642px -767px;
  width: 43px;
  height: 34px; }

.ki-hitmansheatmaker {
  background-position: -129px -39px;
  width: 126px;
  height: 30px; }

.ki-holidaypunch {
  background-position: -747px -196px;
  width: 47px;
  height: 31px; }

.ki-holidaypunchlaugh {
  background-position: -289px -418px;
  width: 90px;
  height: 32px; }

.ki-holymackerel {
  background-position: -400px -242px;
  width: 91px;
  height: 33px; }

.ki-homerun {
  background-position: -303px -603px;
  width: 66px;
  height: 61px; }

.ki-homewrecker {
  background-position: -442px -562px;
  width: 64px;
  height: 30px; }

.ki-horselessheadlesshorsemannsheadtaker {
  background-position: 0 -366px;
  width: 103px;
  height: 31px; }

.ki-huntsman {
  background-position: 0 -465px;
  width: 96px;
  height: 21px; }

.ki-huntsmanhs {
  background-position: -742px -293px;
  width: 53px;
  height: 32px; }

.ki-huolongheater {
  background-position: -193px -468px;
  width: 91px;
  height: 32px; }

.ki-ironbomber {
  background-position: -264px 0;
  width: 121px;
  height: 32px; }

.ki-ironcurtain {
  background-position: -389px -373px;
  width: 90px;
  height: 29px; }

.ki-jag {
  background-position: -702px -517px;
  width: 60px;
  height: 28px; }

.ki-kamikaze {
  background-position: -560px -637px;
  width: 60px;
  height: 32px; }

.ki-killingglovesofboxing {
  background-position: -470px -461px;
  width: 80px;
  height: 25px; }

.ki-knife {
  background-position: -492px -279px;
  width: 85px;
  height: 17px; }

.ki-kukri {
  background-position: -388px -403px;
  width: 89px;
  height: 32px; }

.ki-letranger {
  background-position: -288px -698px;
  width: 64px;
  height: 31px; }

.ki-libertylauncher {
  background-position: -630px -480px;
  width: 78px;
  height: 25px; }

.ki-lochnload {
  background-position: -196px -416px;
  width: 92px;
  height: 29px; }

.ki-lollichop {
  background-position: -286px -730px;
  width: 63px;
  height: 33px; }

.ki-loosecannon {
  background-position: -126px -227px;
  width: 118px;
  height: 28px; }

.ki-loosecannonpushed {
  background-position: -286px -451px;
  width: 90px;
  height: 31px; }

.ki-maxgun {
  background-position: -309px -509px;
  width: 71px;
  height: 32px; }

.ki-machina {
  background-position: -127px -163px;
  width: 123px;
  height: 31px; }

.ki-machinapenetrate {
  background-position: -126px -195px;
  width: 122px;
  height: 31px; }

.ki-machinapenetratehs {
  background-position: -141px 0;
  width: 122px;
  height: 31px; }

.ki-manmelter {
  background-position: 0 -269px;
  width: 105px;
  height: 32px; }

.ki-mantreads {
  background-position: -748px -608px;
  width: 46px;
  height: 26px; }

.ki-market_gardener {
  background-position: -575px -337px;
  width: 81px;
  height: 22px; }

.ki-maul {
  background-position: -480px -377px;
  width: 82px;
  height: 32px; }

.ki-memorymaker {
  background-position: -655px -734px;
  width: 50px;
  height: 32px; }

.ki-merasmus {
  background-position: -386px 0;
  width: 119px;
  height: 33px; }

.ki-merasmus2 {
  background-position: -251px -166px;
  width: 118px;
  height: 31px; }

.ki-merasmus3 {
  background-position: -363px -208px;
  width: 107px;
  height: 33px; }

.ki-merasmus4 {
  background-position: -256px -33px;
  width: 121px;
  height: 32px; }

.ki-meteorshower {
  background-position: -541px -728px;
  width: 58px;
  height: 30px; }

.ki-minify {
  background-position: -552px -670px;
  width: 60px;
  height: 28px; }

.ki-minigun {
  background-position: -202px -351px;
  width: 94px;
  height: 29px; }

.ki-minisentry {
  background-position: -381px -498px;
  width: 68px;
  height: 30px; }

.ki-monoculus {
  background-position: -571px -360px;
  width: 80px;
  height: 25px; }

.ki-monoculusspell {
  background-position: -532px -761px;
  width: 57px;
  height: 28px; }

.ki-natascha {
  background-position: -77px -689px;
  width: 73px;
  height: 32px; }

.ki-necrosmasher {
  background-position: -747px -228px;
  width: 47px;
  height: 28px; }

.ki-neonannihilator {
  background-position: -395px -341px;
  width: 90px;
  height: 31px; }

.ki-nessiesnineiron {
  background-position: -495px -69px;
  width: 88px;
  height: 32px; }

.ki-nostromonapalmer {
  background-position: -480px -194px;
  width: 87px;
  height: 29px; }

.ki-organgrinder {
  background-position: -577px -304px;
  width: 81px;
  height: 32px; }

.ki-quake_rl {
  background-position: 0 -170px;
  width: 125px;
  height: 32px; }

.ki-overdose {
  background-position: -668px -134px;
  width: 84px;
  height: 29px; }

.ki-paintrain {
  background-position: -434px -629px;
  width: 63px;
  height: 30px; }

.ki-panicattack {
  background-position: -128px -105px;
  width: 124px;
  height: 31px; }

.ki-persianpersuader {
  background-position: -296px -388px;
  width: 91px;
  height: 29px; }

.ki-phlogistinator {
  background-position: 0 -39px;
  width: 128px;
  height: 32px; }

.ki-pistol {
  background-position: -746px -635px;
  width: 45px;
  height: 29px; }

.ki-pomson6000 {
  background-position: 0 0;
  width: 140px;
  height: 38px; }

.ki-postalpummeler {
  background-position: -372px -146px;
  width: 112px;
  height: 32px; }

.ki-powerjack {
  background-position: -563px -407px;
  width: 79px;
  height: 32px; }

.ki-prettyboyspocketpistol {
  background-position: -708px -701px;
  width: 44px;
  height: 27px; }

.ki-prinnymachete {
  background-position: 0 -430px;
  width: 97px;
  height: 34px; }

.ki-pumpkin {
  background-position: -156px -544px;
  width: 76px;
  height: 31px; }

.ki-pumpkinmirv {
  background-position: -577px -568px;
  width: 61px;
  height: 30px; }

.ki-quickiebomblauncher {
  background-position: -378px -117px;
  width: 113px;
  height: 28px; }

.ki-rainblower {
  background-position: -202px -381px;
  width: 93px;
  height: 30px; }

.ki-redtaperecorder {
  background-position: -652px -360px;
  width: 79px;
  height: 27px; }

.ki-rescueranger {
  background-position: 0 -203px;
  width: 125px;
  height: 31px; }

.ki-reserveshooter {
  background-position: -467px -487px;
  width: 79px;
  height: 24px; }

.ki-revolver {
  background-position: -150px -752px;
  width: 67px;
  height: 31px; }

.ki-righteousbison {
  background-position: -256px -66px;
  width: 121px;
  height: 32px; }

.ki-rocketlauncher {
  background-position: -245px -231px;
  width: 95px;
  height: 21px; }

.ki-sandman {
  background-position: -581px -108px;
  width: 86px;
  height: 31px; }

.ki-sandmanball {
  background-position: -709px -486px;
  width: 60px;
  height: 30px; }

.ki-sawblade {
  background-position: -376px -596px;
  width: 64px;
  height: 32px; }

.ki-saxxy {
  background-position: -233px -538px;
  width: 73px;
  height: 32px; }

.ki-scattergun {
  background-position: -573px -171px;
  width: 85px;
  height: 23px; }

.ki-scorchshot {
  background-position: -506px 0;
  width: 89px;
  height: 25px; }

.ki-scotsmansskullcutter {
  background-position: -723px -389px;
  width: 61px;
  height: 32px; }

.ki-scottishhandshake {
  background-position: -233px -571px;
  width: 72px;
  height: 31px; }

.ki-scottishresistance {
  background-position: -350px -730px;
  width: 62px;
  height: 32px; }

.ki-sentry1 {
  background-position: -155px -608px;
  width: 74px;
  height: 30px; }

.ki-sentry1unused {
  background-position: -701px -546px;
  width: 59px;
  height: 31px; }

.ki-sentry2 {
  background-position: -632px -452px;
  width: 78px;
  height: 27px; }

.ki-sentry3 {
  background-position: -675px -67px;
  width: 85px;
  height: 31px; }

.ki-shahanshah {
  background-position: -563px -386px;
  width: 80px;
  height: 20px; }

.ki-sharpdresser {
  background-position: -490px -330px;
  width: 84px;
  height: 29px; }

.ki-sharpdresserbackstab {
  background-position: 0 -666px;
  width: 76px;
  height: 33px; }

.ki-sharpenedvolcanofragment {
  background-position: 0 -512px;
  width: 77px;
  height: 33px; }

.ki-shootingstar {
  background-position: 0 -106px;
  width: 127px;
  height: 30px; }

.ki-shortcircuit {
  background-position: -613px -670px;
  width: 58px;
  height: 28px; }

.ki-shortstop {
  background-position: -601px -699px;
  width: 55px;
  height: 32px; }

.ki-shotgun {
  background-position: -305px -253px;
  width: 94px;
  height: 25px; }

.ki-shovel {
  background-position: -399px -307px;
  width: 90px;
  height: 33px; }

.ki-showdown {
  background-position: -739px -326px;
  width: 56px;
  height: 31px; }

.ki-shredalertunused {
  background-position: 0 -72px;
  width: 127px;
  height: 33px; }

.ki-skeletons {
  background-position: -631px -627px;
  width: 59px;
  height: 28px; }

.ki-skewer {
  background-position: -206px -321px;
  width: 95px;
  height: 27px; }

.ki-skull {
  background-position: -747px -164px;
  width: 48px;
  height: 31px; }

.ki-SMG {
  background-position: -154px -665px;
  width: 71px;
  height: 30px; }

.ki-snackattack {
  background-position: -579px -213px;
  width: 84px;
  height: 31px; }

.ki-sniperrifle {
  background-position: -761px -68px;
  width: 30px;
  height: 28px; }

.ki-sniperriflehs {
  background-position: -725px -666px;
  width: 44px;
  height: 32px; }

.ki-sodapopper {
  background-position: 0 -640px;
  width: 77px;
  height: 25px; }

.ki-solemnvow {
  background-position: -78px -512px;
  width: 77px;
  height: 31px; }

.ki-southernhospitality {
  background-position: -283px -764px;
  width: 63px;
  height: 32px; }

.ki-spinaltapunused {
  background-position: -127px -137px;
  width: 124px;
  height: 25px; }

.ki-splendidscreen {
  background-position: -427px -664px;
  width: 62px;
  height: 31px; }

.ki-spycicle {
  background-position: -193px -446px;
  width: 92px;
  height: 21px; }

.ki-tf_projectile_pipe_remote {
  background-position: -675px -35px;
  width: 86px;
  height: 31px; }

.ki-sunonastick {
  background-position: 0 -732px;
  width: 75px;
  height: 32px; }

.ki-superjump {
  background-position: -417px -726px;
  width: 61px;
  height: 31px; }

.ki-sydneysleeper {
  background-position: -378px -34px;
  width: 118px;
  height: 25px; }

.ki-syringegun {
  background-position: 0 -487px;
  width: 94px;
  height: 24px; }

.ki-teleport {
  background-position: -417px -698px;
  width: 62px;
  height: 27px; }

.ki-teslabolt {
  background-position: -577px -538px;
  width: 62px;
  height: 29px; }

.ki-thirddegree {
  background-position: -551px -473px;
  width: 78px;
  height: 32px; }

.ki-thirddegreetransfer {
  background-position: -78px -604px;
  width: 76px;
  height: 32px; }

.ki-threeruneblade {
  background-position: -378px -60px;
  width: 116px;
  height: 26px; }

.ki-tideturner {
  background-position: -480px -698px;
  width: 60px;
  height: 33px; }

.ki-tomislav {
  background-position: -664px -261px;
  width: 80px;
  height: 31px; }

.ki-toolchest {
  background-position: 0 -579px;
  width: 77px;
  height: 32px; }

.ki-train {
  background-position: -581px -140px;
  width: 86px;
  height: 30px; }

.ki-tribalmansshiv {
  background-position: -76px -755px;
  width: 71px;
  height: 28px; }

.ki-ubersaw {
  background-position: -155px -639px;
  width: 73px;
  height: 25px; }

.ki-ullapoolcaber {
  background-position: -151px -721px;
  width: 69px;
  height: 30px; }

.ki-ullapoolcaberexplode {
  background-position: -644px -388px;
  width: 78px;
  height: 31px; }

.ki-unarmedcombat {
  background-position: -643px -420px;
  width: 78px;
  height: 31px; }

.ki-underworld {
  background-position: -98px -446px;
  width: 94px;
  height: 35px; }

.ki-vitasaw {
  background-position: -347px -764px;
  width: 62px;
  height: 30px; }

.ki-wangaprick {
  background-position: -97px -482px;
  width: 93px;
  height: 28px; }

.ki-warriorsspirit {
  background-position: -664px -198px;
  width: 82px;
  height: 31px; }

.ki-widowmaker {
  background-position: 0 -779px;
  width: 64px;
  height: 22px; }

.ki-winger {
  background-position: -757px -99px;
  width: 37px;
  height: 26px; }

.ki-wrangler {
  background-position: -762px -35px;
  width: 32px;
  height: 32px; }

.ki-wrapassassin {
  background-position: 0 -235px;
  width: 106px;
  height: 33px; }

.ki-wrapassassinball {
  background-position: -377px -468px;
  width: 89px;
  height: 29px; }

.ki-wrench {
  background-position: -672px -99px;
  width: 84px;
  height: 34px; }

.ki-youreternalreward {
  background-position: -78px -637px;
  width: 76px;
  height: 20px; }

