<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
	<header class="main">
		<span class="main__title">OnlineServerWatch</span>
	</header>

	@RenderBody()

	<script src="~/js/vendor/jquery-3.1.1.min.js"></script>
	<script src="~/js/vendor/signalr.min.js"></script>
	<script src="/signalr/js"></script>
	<script src="~/js/vendor/vue.js"></script>
	@RenderSection("Scripts", false)
</body>
</html>